/* GLOBAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Inter', sans-serif; */
  font-family: poppins;
}

body {
  background: #f8fafc;
  color: #0f172a;
}

/* Buttons */
.btn-primary {
  background: linear-gradient(135deg, #6366f1, #4f46e5);
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}

.btn-secondary {
  border: 2px solid #6366f1;
  padding: 10px 22px;
  border-radius: 8px;
  background: transparent;
  color: #4f46e5;
  font-weight: 600;
  text-decoration: none;
}

a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #0f172a;
}